@import './base.css';

body{
  margin: 0;
}

.top{
  display: flex;
  justify-content: center;
}

.top_box{
  margin-top: 20px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #e6f7ff;
}

.top_box_c1{
  height: 15px;
  background: #91d5ff;
}

.top_box_c2{
  height: 10px;
  background: rgba(186, 231, 255, 0.8);
}

.top_box_main{
  padding: 0 30px 30px;
  display: flex;
}

/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  font-weight: normal;*/
/*}*/

/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*  padding: 3px;*/
/*}*/

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
